html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 10px; */
    min-height: 100vh;
    margin: 0;
}


section {
    height: 100vh;
}


#home {
    background-color:rgb(138, 166, 255)
}

#bio {
    background-color: rgb(91, 132, 255);
    color: white;
}

#portfolio {
    background-color: rgb(13, 13, 255); 
    color: white;
}

#contact {
    background-color: rgb(0, 1, 45);
    color: white;
}




/* div {
   max-width: 150px;
   border: solid 1px black;
   padding: 10px;
   background: white;
} */
