#section-5 {
  background-image: url(../images/section-5-bkg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 17vw;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading-1.mega {
  color: white;
  font-size: 4rem;
}

#section-5 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-end;
  border-bottom: 1px solid white;
}

.cards {
  display: grid;
  gap: 50px;
  padding-bottom: 50px;
}

/* TODO: Add responsive CSS here */

@media screen and (max-width: 1024px) {
    h1 {
        color: black;
        font-size: 3rem;
    }
    body {
        background: none;
        padding-top: 16vw;
    }
    .container {
        grid-template-columns: 1fr;
    }
/* TODO: Add the remaining responsive styles for 1024px and 768px here */
}

@media screen and (max-width: 768px) {
    /* Styles for max-width: 768px */
    h1 {
        color: black;
        font-size: 2rem;
    }
    body {
        background: none;
        padding-top: 16vw;
    }
    .container {
        grid-template-columns: 1fr;
    }
}