html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* 
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    
    /* align-items: center;
    text-align: center; */
    /* gap: 10px; */
    /* min-height: 100vh;
    margin: 0; */
/* } */

/* ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw; */

    /* grid-template-rows: 1fr; */
    /* flex-direction: row;
    justify-content: end; */
/* } */



/* nav {
    height: 100vh;
} */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

/* nav {
    border: 1px black;
} */

ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    border: 1px solid black;
    color: inherit;
    color: grey;
}

li {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: inherit;
    color: grey;
}

h1 {
    border: 1px solid black;
    color: inherit;
    color: grey;
}